@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 1 0 0;
    --black: 0 0 0;

    --app-backgroud: var(--white);
    --app-text: var(--black);

    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --app-background: var(--black);
      --app-text: var(--white);
    }
  }
}
